{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<p class="breadcrumbs">{% for page in breadcrumbs[1:-1].split('/') %}
    /<a href="/{{ page }}/">{{ page }}</a>
    {% endfor %}
</p><br>
<div class="catalog">
    <ul>
        <li><a href="/jackets/">Куртки</a></li>
        <li><a href="#">Пальто</a></li>
        <li><a href="#">Джинсы</a></li>
        <li><a href="#">Рубашки</a></li>
        <li><a href="#">Брюки</a></li>
    </ul>
</div>
{% endblock %}